<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imis.agile.module.system.mapper.OrganizationMapper">

    <!--  组织机构 通用查询结果列 -->
    <sql id="sys_organization_base_column_list">
        <!--@sql SELECT -->
        id, create_by, create_time, update_by, update_time, parent_id, organization_name, organization_code, description, sort_order, del_flag
        <!--@sql FROM sys_organization -->
    </sql>

    <!--  组织机构 数据表名称 -->
    <sql id="sys_organization_table_name">
        <!--@sql SELECT TABLE_NAME -->
        sys_organization
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sys_organization' -->
    </sql>

</mapper>
