<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imis.agile.module.system.mapper.UserOrganizationMapper">
    <!-- 用户组织机构关联 通用查询结果列 -->
    <sql id="sys_user_organization_base_column_list">
        <!--@sql SELECT -->
        id,create_by, create_time, update_by, update_time, user_id, organization_id, responsible
        <!--@sql FROM sys_user_organization -->
    </sql>

    <!-- 用户组织机构关联 数据表名称 -->
    <sql id="sys_user_organization_table_name">
        <!--@sql SELECT TABLE_NAME -->
        sys_user_organization
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sys_user_organization' -->
    </sql>

    <!-- 组织机构管理 - 组织机构 - 数据树 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="organizationUserListQuery" type="com.imis.agile.module.system.model.vo.OrganizationUserVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="realname" property="realname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="organization_id" property="organizationId" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="responsible" property="responsible" javaType="java.lang.Integer" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 指定用户下的组织机构编号 -->
    <select id="queryOrganizationIdListByUserId" resultType="java.lang.String">
        SELECT organization_id FROM <include refid="sys_user_organization_table_name"/> WHERE user_id = #{userId}
    </select>

    <!-- 指定组织机构下的用户 -->
    <select id="queryOrganizationUserByOrganizationId" resultMap="organizationUserListQuery">
        SELECT
            uo.id,
            uo.user_id,
            u.realname,
            uo.organization_id,
            uo.responsible
        FROM
            <include refid="sys_user_organization_table_name"/> AS uo
            LEFT JOIN <include refid="com.imis.agile.module.system.mapper.UserMapper.sys_user_table_name"/> AS u ON uo.user_id = u.id
        <where>
            <if test="organizationId != null">
                organization_id = #{organizationId}
            </if>
        </where>
    </select>

</mapper>
