<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <base th:href="${#request.getContextPath()}+'/'">
    <link rel="stylesheet" href="/static/common/element/index.css"/>
</head>
<style>
    .dialogClass .el-table .el-table__body tr .el-form-item__content {
        margin-left: 0px !important;
    }
</style>
<body>
<div id="develop">
    <template>
        <div style="margin-bottom:10px;">
            <el-radio-group v-model="queryForm.tableType">
                <el-radio-button v-for="item in tableTypeItem" :label="item.value" :name="item.name" :disabled="item.disabled">{{item.name}}</el-radio-button>
            </el-radio-group>
            <el-input prefix-icon="el-icon-search" style="width: 13%" v-model="queryForm.textName" placeholder="名称"></el-input>
            <el-input prefix-icon="el-icon-search" style="width: 13%" v-model="queryForm.tableName" placeholder="表名"></el-input>
            <el-button type="primary" icon="el-icon-search" @click="submitQueryForm">查询</el-button>
            <el-button icon="el-icon-refresh-right" @click="clearQueryForm">重置</el-button>
        </div>
        <div style="margin-bottom:20px;">
            <el-button type="primary" icon="el-icon-circle-plus-outline" v-if="button.insert" @click="openInsertDialog">新增</el-button>
            <el-button type="danger" icon="el-icon-circle-close" v-if="button.delete" @click="openDeleteDialog">删除</el-button>
        </div>

        <el-table :data="tableData" :row-style="{height:'40px'}" :cell-style="{padding:'0px'}" :header-cell-style="{'text-align':'center'}" style="margin-bottom:10px;font-size: 14px"
                  :default-sort="{prop: 'date', order: 'descending'}" row-key="id" @selection-change="handleSelectionChange" stripe border>
            <el-table-column type="selection" width="55" align="center"></el-table-column>
            <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
            <el-table-column prop="tableType" label="类型" :formatter="formatTableType" width="100" align="center"></el-table-column>
            <el-table-column prop="tableVersion" label="版本" width="50" align="center"></el-table-column>
            <el-table-column prop="textName" label="名称" width="180" align="center"></el-table-column>
            <el-table-column prop="tableName" label="表名" width="180" align="center"></el-table-column>
            <el-table-column prop="synchronize" label="同步状态" width="100" align="center">
                <template slot-scope="scope">
                    <span v-if="scope.row.synchronize==0" class="el-icon-circle-check" style="color:rgb(103, 194, 58);"></span>
                    <span v-else class="el-icon-circle-close" style="color:rgb(194, 58, 63);"></span>
                </template>
            </el-table-column>
            <el-table-column prop="description" label="描述"></el-table-column>
            <el-table-column prop="createTime" label="创建时间" align="center"></el-table-column>
            <el-table-column prop="updateTime" label="更新时间" align="center"></el-table-column>
            <el-table-column label="操作" width="160" align="center" fixed="right">
                <template slot-scope="scope">
                    <el-button type="success" size="mini" v-if="button.update" @click="openUpdateDialog(scope.row)">修改</el-button>
                    <el-button type="danger" size="mini" v-if="button.database && scope.row.synchronize==1" @click="generateDatabase(scope.row)">生成表</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination background :page-size="10" :total="total" :current-page="currentPage" layout="total, sizes, prev, pager, next, jumper" :page-sizes="[10, 50, 100]"
                       @size-change="handleSizeChange" @current-change="handleCurrentChange">
        </el-pagination>

        <el-dialog :title="dialogTitle" fullscreen="true" :visible.sync="openDialog" :modal="false" :close-on-click-modal="false" class="dialogClass">
            <el-form :model="formData" ref="formData" :rules="rules" label-width="100px">
                <el-row>
                    <el-col :span="7">
                        <el-form-item label="名称" prop="textName">
                            <el-input v-model="formData.textName" placeholder="名称"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <el-form-item label="表名" prop="tableName">
                            <el-input v-model="formData.tableName" placeholder="表名"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <el-form-item label="类型" prop="tableType">
                            <el-radio-group v-model="formData.tableType" size="medium">
                                <el-radio-button v-for="item in tableTypeItem" :label="item.value" :name="item.name" :disabled="item.disabled">{{item.name}}</el-radio-button>
                            </el-radio-group>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="7">
                        <el-form-item label="是否分页" prop="paging">
                            <el-switch v-model="formData.paging" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <el-form-item label="新增样式" prop="insertStyle">
                            <el-select v-model="formData.insertStyle" :clearable="true" placeholder="请选择新增表单风格">
                                <el-option v-for="option in formStyleItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="7">
                        <el-form-item label="更新样式" prop="updateStyle">
                            <el-select v-model="formData.updateStyle" :clearable="true" placeholder="请选择更新表单风格">
                                <el-option v-for="option in formStyleItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="7">
                        <el-form-item label="主题模板" prop="themeTemplate">
                            <el-select v-model="formData.themeTemplate" :clearable="true" placeholder="请选择主题模板">
                                <el-option v-for="option in themeTemplateItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="描述" prop="description">
                            <el-input type="textarea" autosize v-model="formData.description" maxlength="250" show-word-limit></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-tabs>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-s-grid"></i>&nbsp;数据库属性</span>
                                <el-table :data="formData.fieldData" border stripe style="width: 100%">
                                    <el-table-column type="selection" width="55" align="center"></el-table-column>
                                    <el-table-column prop="sortNo" label="序号" width="75" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.sortNo'">
                                                <el-input v-model="scope.row.sortNo" maxlength="3" placeholder="序号" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldName" label="字段名字" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldName'" :rules='rules.fieldName'>
                                                <el-input v-model="scope.row.fieldName" :disabled="scope.row.disabled" placeholder="字段名字" size="small" :clearable="true"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldTxt" label="字段备注" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldTxt'" :rules='rules.fieldTxt'>
                                                <el-input v-model="scope.row.fieldTxt" :disabled="scope.row.disabled" placeholder="字段备注" size="small" :clearable="true"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="synchronize" label="同步状态" width="100" align="center">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.synchronize==0" class="el-icon-circle-check" style="color:rgb(103, 194, 58);"></span>
                                            <span v-else class="el-icon-circle-close" style="color:rgb(194, 58, 63);"></span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="isKey" label="是否主键" with="120" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.isKey'">
                                                <el-switch v-model="scope.row.isKey" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="isNull" label="是否允许为空" with="120" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.isNull'">
                                                <el-switch v-model="scope.row.isNull" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldType" label="字段类型" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldType'" :rules='rules.fieldType'>
                                                <el-select v-model="scope.row.fieldType" :disabled="scope.row.disabled" placeholder="请选择字段类型" size="small" :clearable="true">
                                                    <el-option v-for="option in fieldTypeItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldLength" label="字段长度" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldLength'">
                                                <el-input-number v-model="scope.row.fieldLength" :min="1" :step="1" :disabled="scope.row.disabled" placeholder="字段长度" size="small" controls-position="right"></el-input-number>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldPointLength" label="小数点位数" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldPointLength'">
                                                <el-input-number v-model="scope.row.fieldPointLength" :min="0" :max="9" :step="1" :disabled="scope.row.disabled" placeholder="小数点位数" size="small" controls-position="right"></el-input-number>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldDefaultValue" label="默认值" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldDefaultValue'">
                                                <el-input v-model="scope.row.fieldDefaultValue" :disabled="scope.row.disabled" placeholder="默认值" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="description" label="描述" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.description'">
                                                <el-input type="textarea" autosize v-model="scope.row.description" maxlength="250" show-word-limit size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作" width="80" align="center" fixed="right">
                                        <template slot-scope="scope">
                                            <el-button v-if="scope.row.delete" type="danger" size="mini" @click="deleteRow(scope.row, scope.$index)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div style="margin-top:10px;">
                                    <el-button icon="el-icon-circle-plus-outline" type="danger" @click="addField" style="float: left;">新增字段</el-button>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-document"></i>&nbsp;页面属性</span>
                                <el-table :data="formData.fieldData" border stripe style="width: 100%">
                                    <el-table-column prop="fieldName" label="字段名字" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldName'">
                                                <el-input v-model="scope.row.fieldName" :disabled="true" placeholder="字段名字" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldTxt" label="字段备注" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldTxt'">
                                                <el-input v-model="scope.row.fieldTxt" :disabled="true" placeholder="字段备注" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="queryShow" label="查询显示" width="80" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.queryShow'">
                                                <el-switch v-model="scope.row.queryShow" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="insertShow" label="新增显示" width="80" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.insertShow'">
                                                <el-switch v-model="scope.row.insertShow" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="updateShow" label="更新显示" width="80" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.updateShow'">
                                                <el-switch v-model="scope.row.updateShow" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="tableShow" label="列表显示" width="80" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.tableShow'">
                                                <el-switch v-model="scope.row.tableShow" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="onlyRead" label="只读" width="70" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.onlyRead'">
                                                <el-switch v-model="scope.row.onlyRead" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="sortFlag" label="排序" width="70" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.sortFlag'">
                                                <el-switch v-model="scope.row.sortFlag" :disabled="scope.row.disabled" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="controlType" label="控件类型" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.controlType'" :rules='rules.controlType'>
                                                <el-select v-model="scope.row.controlType" :disabled="scope.row.disabled" placeholder="请选择控件类型" size="small" :clearable="true">
                                                    <el-option v-for="option in controlTypeItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="controlLength" label="控件长度" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.controlLength'">
                                                <el-input-number v-model="scope.row.controlLength" :min="1" :step="1" :disabled="scope.row.disabled" placeholder="控件长度" size="small" controls-position="right"></el-input-number>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="queryMode" label="查询模式" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.queryMode'" :rules='rules.controlType'>
                                                <el-select v-model="scope.row.queryMode" :disabled="scope.row.disabled" placeholder="请选择查询模式" size="small" :clearable="true">
                                                    <el-option v-for="option in queryModeItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-lock"></i>&nbsp;校验规则</span>
                                <el-table :data="formData.fieldData" border stripe style="width: 100%">
                                    <el-table-column prop="fieldName" label="字段名字" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldName'">
                                                <el-input v-model="scope.row.fieldName" :disabled="true" placeholder="字段名字" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldTxt" label="字段备注" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldTxt'">
                                                <el-input v-model="scope.row.fieldTxt" :disabled="true" placeholder="字段备注" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="isNull" label="校验必填" with="80" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.isNull'">
                                                <el-switch v-model="scope.row.isNull" :disabled="true" active-color="#ff4949" inactive-color="#13ce66" :active-value="0" :inactive-value="1"></el-switch>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="validationRules" label="验证规则" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.validationRule'">
                                                <el-select v-model="scope.row.validationRule" :multiple="true" :disabled="scope.row.disabled" placeholder="请选择验证规则" size="small" :clearable="true">
                                                    <el-option v-for="option in validationRuleItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-key"></i>&nbsp;外键关联</span>
                                <el-table :data="formData.fieldData" border stripe style="width: 100%">
                                    <el-table-column prop="fieldName" label="字段名字" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldName'">
                                                <el-input v-model="scope.row.fieldName" :disabled="true" placeholder="字段名字" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldTxt" label="字段备注" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldTxt'">
                                                <el-input v-model="scope.row.fieldTxt" :disabled="true" placeholder="字段备注" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="mainTableName" label="主表名" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.mainTableName'">
                                                <el-select v-model="scope.row.mainTableName" :disabled="scope.row.disabled" placeholder="请选择主表名" size="small" :clearable="true" @change="queryMainTableFieldItem(scope.row, scope.$index)">
                                                    <el-option v-for="option in mainTableNameItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="mainTableField" label="主表字段" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.mainTableField'">
                                                <el-select v-model="scope.row.mainTableField" :disabled="scope.row.disabled" placeholder="请选择主表字段" size="small" :clearable="true">
                                                    <el-option v-for="option in mainTableFieldItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-search"></i>&nbsp;查询配置</span>
                                <el-table :data="formData.fieldData" border stripe style="width: 100%">
                                    <el-table-column prop="fieldName" label="字段名字" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldName'">
                                                <el-input v-model="scope.row.fieldName" :disabled="true" placeholder="字段名字" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="fieldTxt" label="字段备注" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.fieldTxt'">
                                                <el-input v-model="scope.row.fieldTxt" :disabled="true" placeholder="字段备注" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="dictTableName" label="字典表名" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.dictTableName'">
                                                <el-select v-model="scope.row.dictTableName" :disabled="scope.row.disabled" placeholder="请选择字典表名" size="small" :clearable="true" @change="queryDictTableFieldItem(scope.row, scope.$index)">
                                                    <el-option v-for="option in dictTableNameItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="dictCodeField" label="字典Code字段" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.dictCodeField'">
                                                <el-select v-model="scope.row.dictCodeField" :disabled="scope.row.disabled" placeholder="请选择字典Code字段" size="small" :clearable="true">
                                                    <el-option v-for="option in dictTableFieldItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="dictTextField" label="字典Text字段" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'fieldData.' + scope.$index + '.dictTextField'">
                                                <el-select v-model="scope.row.dictTextField" :disabled="scope.row.disabled" placeholder="请选择字典Text字段" size="small" :clearable="true">
                                                    <el-option v-for="option in dictTableFieldItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                            <el-tab-pane>
                                <span slot="label"><i class="el-icon-s-promotion"></i>&nbsp;索引</span>
                                <div style="margin-bottom:10px;">
                                    <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addIndexData">新增索引</el-button>
                                </div>
                                <el-table :data="formData.indexData" border stripe style="width: 100%">
                                    <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
                                    <el-table-column prop="indexName" label="索引名称" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'indexData.' + scope.$index + '.indexName'">
                                                <el-input v-model="scope.row.indexName" placeholder="索引名称" size="small"></el-input>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="indexField" label="索引栏位（字段）" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'indexData.' + scope.$index + '.indexField'">
                                                <el-select v-model="scope.row.indexField" placeholder="请选择索引栏位（字段）" size="small" :clearable="true">
                                                    <el-option v-for="option in formData.fieldData" :key="option.fieldName" :label="option.fieldTxt" :value="option.fieldName">{{option.fieldTxt}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="indexType" label="索引类型" align="center">
                                        <template slot-scope="scope">
                                            <el-form-item :prop="'indexData.' + scope.$index + '.indexType'">
                                                <el-select v-model="scope.row.indexType" placeholder="请选择索引类型" size="small" :clearable="true">
                                                    <el-option v-for="option in indexTypeItem" :key="option.value" :label="option.name" :value="option.value" :disabled="option.disabled">{{option.name}}</el-option>
                                                </el-select>
                                            </el-form-item>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="synchronize" label="同步状态" width="100" align="center">
                                        <template slot-scope="scope">
                                            <span v-if="scope.row.synchronize==0" class="el-icon-circle-check" style="color:rgb(103, 194, 58);"></span>
                                            <span v-else class="el-icon-circle-close" style="color:rgb(194, 58, 63);"></span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作" width="80" align="center" fixed="right">
                                        <template slot-scope="scope">
                                            <el-button type="danger" size="mini" @click="deleteIndexData(scope.row, scope.$index)">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </el-tab-pane>
                        </el-tabs>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button icon="el-icon-circle-close" @click="openDialog = false">取 消</el-button>
                <el-button v-if="insertButton" icon="el-icon-circle-check" type="primary" @click="insert">确 定</el-button>
                <el-button v-else icon="el-icon-circle-check" type="primary" @click="update">确 定</el-button>
            </div>
        </el-dialog>
    </template>
</div>
</body>
<script type="text/javascript" src="/static/common/util/axios.min.js"></script>
<script type="text/javascript" src="/static/common/vue/vue.min.js"></script>
<script type="text/javascript" src="/static/common/element/index.js"></script>
<script type="text/javascript" src="/static/common/api.js"></script>
<script type="text/javascript" src="/static/common/module/online/develop.js"></script>
</html>
