<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imis.agile.module.online.mapper.TableFieldsMapper">

    <!-- 在线开发 - 数据库表字段信息 通用查询结果列 -->
    <sql id="onl_table_fields_base_column_list">
        <!--@sql SELECT -->
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        table_head_id, field_name, field_txt, field_name_old, is_key, is_null, field_type, field_length, field_point_length, field_default_value, sort_no, description,
        query_show, insert_show, update_show, table_show, only_read, sort_flag, control_type, control_length, query_mode
        validation_rules,
        main_table_name, main_table_field,
        dict_table_name, dict_code_field, dict_text_field,
        synchronize
        <!--@sql FROM onl_table_field -->
    </sql>

    <!-- 在线开发 - 数据库表表信息 数据表名称 -->
    <sql id="onl_table_fields_table_name">
        <!--@sql SELECT TABLE_NAME -->
        onl_table_field
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'onl_table_field' -->
    </sql>

    <!-- 判断外键主表名、外键主键字段 是否存在 2020年11月20日 17:08:42 -->
    <select id="countMainFieldByParameter" resultType="java.lang.Integer">
        SELECT
            COUNT( COLUMN_NAME ) = #{number}
        FROM
            INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_SCHEMA = 'agile'
            AND TABLE_NAME = #{tableName}
            AND
            <foreach collection="tableField" item="field" index="index" separator="OR" open="(" close=")">
                COLUMN_NAME = #{field}
            </foreach>
    </select>

</mapper>
