<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imis.agile.module.online.mapper.TableHeadMapper">

    <!-- 在线开发 - 数据库表表信息 通用查询结果列 -->
    <sql id="onl_table_head_base_column_list">
        <!--@sql SELECT -->
        id,
        create_by,
        create_time,
        update_by,
        update_time,
        text_name, table_name, table_type, paging, insert_style, update_style, table_version, theme_template, description, synchronize
        <!--@sql FROM onl_table_head -->
    </sql>

    <!-- 在线开发 - 数据库表表信息 数据表名称 -->
    <sql id="onl_table_head_table_name">
        <!--@sql SELECT TABLE_NAME -->
        onl_table_head
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'onl_table_head' -->
    </sql>

    <!-- 在线开发 - 表单基础信息 - 数据分页 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="pageQuery" type="com.imis.agile.module.online.model.vo.TableBasicPageVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="table_type" property="tableType" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="table_version" property="tableVersion" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="text_name" property="textName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="synchronize" property="synchronize" javaType="java.lang.Integer" jdbcType="TINYINT"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 分页查询 - 表单基础信息 2021年9月18日 11:01:04 -->
    <select id="pagingQueryListByParameter" resultMap="pageQuery">
        SELECT
            id, table_type, table_version, text_name, table_name, synchronize, description, create_time, update_time
        FROM
            <include refid="onl_table_head_table_name"/>
        <where>
            <if test="param.tableType != null ">
                AND table_type = #{param.tableType}
            </if>
            <if test="param.textName != null and param.textName != '' ">
                AND text_name LIKE CONCAT('%', #{param.textName}, '%')
            </if>
            <if test="param.tableName != null and param.tableName != '' ">
                AND table_name LIKE CONCAT('%', #{param.tableName}, '%')
            </if>
            <if test="param.synchronize != null ">
                AND synchronize = #{param.synchronize}
            </if>
        </where>
    </select>

</mapper>
