<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aienuo.agile.module.system.mapper.RichTextMapper">

    <!-- 富文本 通用查询结果列 -->
    <sql id="sys_rich_text_base_column_list">
        <!--@sql SELECT -->
        id, create_by, create_time, update_by, update_time, text_type, primary_table_id, content, del_flag
        <!--@sql FROM sys_rich_text -->
    </sql>

    <!-- 富文本 数据表名称 -->
    <sql id="sys_rich_text_table_name">
        <!--@sql SELECT TABLE_NAME -->
        sys_rich_text
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sys_rich_text' -->
    </sql>

</mapper>
