<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aienuo.agile.module.system.mapper.RoleMapper">
    <!-- 角色管理 通用查询结果列 -->
    <sql id="sys_role_base_column_list">
        <!--@sql SELECT -->
        id, create_by, create_time, update_by, update_time, role_name, role_code, description
        <!--@sql FROM sys_role -->
    </sql>

    <!-- 角色管理 数据表名称 -->
    <sql id="sys_role_table_name">
        <!--@sql SELECT TABLE_NAME -->
        sys_role
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sys_role' -->
    </sql>

    <!-- 角色管理 - 角色信息 - 数据查询 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="listQuery" type="com.aienuo.agile.module.api.model.vo.RoleVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 人事管理 - 角色信息 - 数据分页 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="pageQuery" type="com.aienuo.agile.module.system.model.vo.RolePageVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 角色管理 - 角色信息 - ID查询 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="queryDataById" type="com.aienuo.agile.module.system.model.vo.RoleInfoVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <collection property="menuList" ofType="java.lang.String" javaType="java.util.List" column="{roleId=id}" select="com.aienuo.agile.module.system.mapper.RoleMenuMapper.queryMenuIdListByRoleId"/>
    </resultMap>

    <!-- 角色管理 - 角色信息 - 数据查询 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="listQuery1" type="com.aienuo.agile.module.system.model.vo.RoleVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询角色信息 2020年10月10日 10:24:00 -->
    <select id="queryRoleListByIdList" resultMap="listQuery">
        SELECT
            id, role_name, role_code, description
        FROM
            <include refid="sys_role_table_name"/>
        <where>
            <if test="roleIdList != null and roleIdList.size() != 0">
                AND
                <foreach collection="roleIdList" item="id" index="index" separator="OR" open="(" close=")">
                    id = #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 2021年7月20日 14:36:07 分页查询 -->
    <select id="pagingQueryListByParameter" resultMap="pageQuery">
        SELECT
            id, role_name, role_code, description
        FROM
            <include refid="sys_role_table_name"/>
        <where>
            <if test="param.roleName != null and param.roleName != ''">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="nameLike" value="'%' + param.roleName + '%'" />
                AND role_name LIKE #{nameLike}
            </if>
            <!-- 创建人 -->
            <if test="param.createBy != null and param.createBy != ''">
                AND create_by = #{param.createBy}
            </if>
            <!-- 创建时间-起 -->
            <if test="param.createTimeStart != null">
                AND create_time <![CDATA[>=]]> #{param.createTimeStart}
            </if>
            <!-- 创建时间-止 -->
            <if test="param.createTimeEnd != null ">
                AND create_time <![CDATA[<=]]> #{param.createTimeEnd}
            </if>
            <!-- 更新人 -->
            <if test="param.updateBy != null and param.updateBy != ''">
                AND update_by = #{param.updateBy}
            </if>
            <!-- 更新时间-起 -->
            <if test="param.updateTimeStart != null">
                AND update_time <![CDATA[>=]]> #{param.updateTimeStart}
            </if>
            <!-- 更新时间-止 -->
            <if test="param.updateTimeEnd != null ">
                AND update_time <![CDATA[<=]]> #{param.updateTimeEnd}
            </if>
            <!-- 超级查询参数 这个参数方便自定义SQL条件查询（要考虑SQL注入，查询条件与数据权限冲突） -->
            <if test="param.superQueryParams != null and param.superQueryParams != ''">
                AND #{param.superQueryParams}
            </if>
        </where>
    </select>

    <!-- 2021年7月20日 14:36:07 ID查询 -->
    <select id="queryById" resultMap="queryDataById">
        SELECT
            id, role_name, role_code, description
        FROM
            <include refid="sys_role_table_name"/>
        WHERE id = #{id}
    </select>

    <!-- 查询角色列表 2020年10月10日 10:24:00 -->
    <select id="queryList" resultMap="listQuery1">
        SELECT
            id, role_name, role_code, description
        FROM
            <include refid="sys_role_table_name"/>
    </select>

</mapper>
