<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aienuo.agile.module.system.mapper.UserMapper">

    <!-- 系统用户 通用查询结果列 -->
    <sql id="sys_user_base_column_list">
        <!--@sql SELECT -->
        id, create_by, create_time, update_by, update_time, username, password, salt, avatar, realname, identity_number, email, phone, birthday, sex, status, del_flag
        <!--@sql FROM sys_user -->
    </sql>

    <!-- 系统用户 数据表名称 -->
    <sql id="sys_user_table_name">
        <!--@sql SELECT TABLE_NAME -->
        sys_user
        <!--@sql FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'sys_user' -->
    </sql>

    <!-- 人事管理 - 人员信息 - 数据分页 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="pageQuery" type="com.aienuo.agile.module.system.model.vo.UserPageVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="identity_number" property="identityNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" javaType="java.time.LocalDate" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 人事管理 - 人员信息 - ID查询 - 查询返回值 2020年10月10日 10:24:00 -->
    <resultMap id="queryDataById" type="com.aienuo.agile.module.system.model.vo.UserInfoVO">
        <id column="id" property="id" javaType="java.lang.String" jdbcType="BIGINT"/>
        <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="identity_number" property="identityNumber" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" javaType="java.time.LocalDate" jdbcType="TIMESTAMP"/>
        <collection property="roleList" ofType="java.lang.String" javaType="java.util.List" column="{userId=id}" select="com.aienuo.agile.module.system.mapper.UserRoleMapper.queryRoleIdListByUserId"/>
        <collection property="organizationList" ofType="java.lang.String" javaType="java.util.List" column="{userId=id}" select="com.aienuo.agile.module.system.mapper.UserOrganizationMapper.queryOrganizationIdListByUserId"/>
    </resultMap>

    <!-- 2021年7月20日 14:36:07 分页查询 del_flag = 0 -->
    <select id="pagingQueryListByParameter" resultMap="pageQuery">
        SELECT
            id, username, avatar, realname, identity_number, email, phone, birthday, status
        FROM
            <include refid="sys_user_table_name"/>
        <where>
            del_flag = 0
            <if test="param.username != null and param.username != '' ">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="usernameLike" value="'%' + param.username + '%'" />
                AND username LIKE #{usernameLike}
            </if>
            <if test="param.realname != null and param.realname != '' ">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="realnameLike" value="'%' + param.realname + '%'" />
                AND realname LIKE #{realnameLike}
            </if>
            <if test="param.identityNumber != null and param.identityNumber != '' ">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="identityNumberLike" value="'%' + param.identityNumber + '%'" />
                AND identity_number LIKE #{identityNumberLike}
            </if>
            <if test="param.email != null and param.email != '' ">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="emailLike" value="'%' + param.email + '%'" />
                AND email LIKE #{emailLike}
            </if>
            <if test="param.phone != null and param.phone != '' ">
                <!-- Oracle 中只支持两个参数 使用bind来让SQL支持两个以上 -->
                <bind name="phoneLike" value="'%' + param.phone + '%'" />
                AND phone LIKE #{phoneLike}
            </if>
            <if test="param.birthday != null ">
                AND birthday <![CDATA[<=]]> DATE(#{param.birthday})
            </if>
            <if test="param.birthdayEnd != null ">
                AND birthday <![CDATA[>=]]> DATE(#{param.birthdayEnd})
            </if>
            <if test="param.sex != null ">
                AND sex = #{param.sex}
            </if>
            <!-- 创建人 -->
            <if test="param.createBy != null and param.createBy != ''">
                AND create_by = #{param.createBy}
            </if>
            <!-- 创建时间-起 -->
            <if test="param.createTimeStart != null">
                AND create_time <![CDATA[>=]]> #{param.createTimeStart}
            </if>
            <!-- 创建时间-止 -->
            <if test="param.createTimeEnd != null ">
                AND create_time <![CDATA[<=]]> #{param.createTimeEnd}
            </if>
            <!-- 更新人 -->
            <if test="param.updateBy != null and param.updateBy != ''">
                AND update_by = #{param.updateBy}
            </if>
            <!-- 更新时间-起 -->
            <if test="param.updateTimeStart != null">
                AND update_time <![CDATA[>=]]> #{param.updateTimeStart}
            </if>
            <!-- 更新时间-止 -->
            <if test="param.updateTimeEnd != null ">
                AND update_time <![CDATA[<=]]> #{param.updateTimeEnd}
            </if>
            <!-- 超级查询参数 这个参数方便自定义SQL条件查询（要考虑SQL注入，查询条件与数据权限冲突） -->
            <if test="param.superQueryParams != null and param.superQueryParams != ''">
                AND #{param.superQueryParams}
            </if>
        </where>
    </select>

    <!-- 2021年7月20日 14:36:07 ID查询 del_flag = 0 -->
    <select id="queryById" resultMap="queryDataById">
        SELECT
            id, username, avatar, realname, identity_number, email, phone, birthday
        FROM
            <include refid="sys_user_table_name"/>
        WHERE
            del_flag = 0 AND id = #{id}
    </select>

</mapper>
